.sidebar-right {
    background: #efefef;
    height: auto;
    display: block;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    .sidebar-right {
        display: none;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

    /* Styles */
    .sidebar-right {
        display: none;
    }


}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

    /* Styles */
    .sidebar-right {
        display: none;
    }


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    /* Styles */
    .sidebar-right {
        display: none;
    }


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    /* Styles */
    .sidebar-right {
        display: none;
    }


}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    /* Styles */
    .sidebar-right {
        display: none;
    }


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    /* Styles */
    .sidebar-right {
        background: #efefef;
        height: auto;
        display: block;
    }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

    /* Styles */
    .sidebar-right {
        background: #efefef;
        height: auto;
        display: block;
    }

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */



}

/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px) {
    /*Style*/

}

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1023px) {
    /*Style*/

}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 767px) {
    /*Style*/


}

.sidebar-right-nav>ul li ul {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;

    list-style-type: none;
    width: 95%;
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
}

.sidebar-right-nav>ul>li>ul>li {
    border-top: 1px solid #90aab7;
}

.sidebar-right-nav>ul li {
    padding-top: 2%;

    display: block;
    margin-bottom: 1px;
    border-bottom: 1px solid #D5D5D5;
}

.sidebar-right-nav ul li a:hover {
    border-left: 4px solid #4dabcf;
    border-right: 4px solid #4dabcf;
    margin-left: -4px;
    margin-right: -4px;
    color: #102aa4;
    box-sizing: border-box;
    background: #d9f4ff;
}

.hidden {
    display: none;
}

.clickMe{
  padding-right: 10%;
}